<div class="side_head">
  <div class="name" href="#">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  
  <a class="chat-btn" href="#">
  チャットを作成する
  </a>
</div>

<div class="side_bottom">
  <div class="room">
    <div class="roomname">
    <a href="#">room1</a>
    </div>
  </div>
  <div class="room">
    <div class="roomname">
    <a href="#">room2</a>
    </div>
  </div><div class="room">
    <div class="roomname">
    <a href="#">room3</a>
    </div>
  </div>
</div>