<div class="side_head">
  <div class="name" href="#">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
    <%= link_to "チャットを作成する", new_room_path %>
</div>

<div class="side_bottom">
  <% current_user.rooms.each do |room|%>
    <div class="room">
      <div class="roomname">
      <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>