<div class="side_head">
  <a class="name" href="#">
  Tom
  </a>
  
  <a class="chat-btn" href="#">
  チャットを作成する
  </a>
</div>

<div class="side_bottom">
  <div class="room">
    <div class="roomname">
    <a href="#">room1</a>
    </div>
  </div>
  <div class="room">
    <div class="roomname">
    <a href="#">room2</a>
    </div>
  </div><div class="room">
    <div class="roomname">
    <a href="#">room3</a>
    </div>
  </div>
</div>